// General Styles
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after { box-sizing: inherit; }

body {
  // DARK & LIGHT MODE STYLES
  // DARK MODE
  .dark {
    color: rgba(255, 255, 255, 0.5);
    background: #17171e;
  }
  // LIGHT MODE
  .light {
    color: #19202c;
    background: #f2f2f2;
  }


  // GENERAL STYLES
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow: hidden;
  font-family: "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}


.App {
  // DARK & LIGHT MODE STYLES
  // DARK MODE
  &.dark {
    .mainContent {
      &::-webkit-scrollbar-track {
        background: #14141b;
      }
      &::-webkit-scrollbar-thumb {
        background: #3a3b44;
        outline: 1px solid #3a3853;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #44454e;
        outline: 1px solid #42405e;
      }
    }
  }

    // LIGHT MODE
  &.light {
    .mainContent {
      &::-webkit-scrollbar-track {
        background: #d7d7e4;
      }
      &::-webkit-scrollbar-thumb {
        background: #909096;
        outline: 1px solid #84838b;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #a3a3aa;
        outline: 1px solid #9c9ba3;
      }
    }
  }


  // GENERAL STYLES
  min-height: 100vh;

  .loaderAnimation {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.sidebar_close .mainContent {
    margin-left: 20px;
  }

  .mainContent {
    height: 100vh;
    overflow-y: auto;
    margin-left: 260px;
    padding: 10px 0 100px 10px;
    transition: all 0.3s ease;
    &::-webkit-scrollbar {
      width: 13px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
  }
}