.sidebarItem {
  // DARK & LIGHT MODE STYLES
  // DARK MODE
  &.dark {
    color: rgba(255, 255, 255, 0.5);

    // State
    &:hover {
      color: #f00;
    }

    .icon {
      svg {
        fill: #fff;
        g {
          fill: #fff;
        }
      }
    }

    // ACTIVE
    &.active {
      color: #f00;
      background: rgba(0,0,0,0.2);
      .icon {
        svg {
          fill: #f00;
          g {
            fill: #f00;
          }
        }
      }
    }
  }

  // LIGHT MODE
  &.light {
    color: rgb(137, 137, 137);

    // State
    &:hover {
      color: #f00;
    }

    .icon {
      svg {
        fill: rgb(137, 137, 137);
        g {
          fill: rgb(137, 137, 137);
        }
      }
    }

    // ACTIVE
    &.active {
      color: #f00;
      background: rgba(0,0,0,0.08);
      .icon {
        svg {
          fill: #f00;
          g {
            fill: #f00;
          }
        }
      }
    }
  }


  // GENERAL STYLES
  display: flex;
  align-items: center;
  padding: 12px;
  margin-bottom: 6px;
  transition: background 0.3s ease;

  // State
  &:hover {
    color: #f00;
    .icon {
      svg {
        fill: #f00;
        g {
          fill: #f00;
        }
      }
    }
  }

  .icon {
    margin: 0 14px 0 20px;
    svg {
      width: 20px;
      height: 20px;
      transition: all 0.3s ease;
    }
  }
  .img {
    width: 28px;
    height: 28px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 50%;
  }
  .txt {
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
  }
}